<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <p> 1日幣(JPY)=0.222台幣, 1美金(USD)=32.04, 1人民幣(CHD)=4.44,  1新加坡幣(SGD)=22.75</p>
        <div>台幣 <input type="text" v-model="twd" > </div>
        <div>日幣 <input type="text" v-model="jpy" > </div> 
        <div>美金 <input type="text" v-model="usd"> </div> 
        <div>人民幣 <input type="text" v-model="chd"> </div> 
        <div>新加玻幣 <input type="text" v-model="sgd"> </div> 
    </div>
</body>
<script>
    const usdCurrencyRate = 32.04;
    const jpyCurrencyRate = 0.222;
    const chdCurrencyRate = 4.44;
    const sgdCurrencyRate = 22.75;

    const vm = Vue.createApp({
        data () {
            return {
                twd: 1000
            }
        },
        computed: {
            jpy: {
                get() {
                    return Number.parseFloat(Number(this.twd)/ jpyCurrencyRate).toFixed(3);
                },
                set(val) {
                    this.twd = Number.parseFloat(Number(val) * jpyCurrencyRate).toFixed(3);
                }
            },
            usd: {
                get() {
                    return Number.parseFloat(Number(this.twd)/ usdCurrencyRate).toFixed(3);
                },
                set(val) {
                    this.twd = Number.parseFloat(Number(val) * usdCurrencyRate).toFixed(3);
                }
            },
            chd: {
                get() {
                    return Number.parseFloat(Number(this.twd)/ chdCurrencyRate).toFixed(3);
                },
                set(val) {
                    this.twd = Number.parseFloat(Number(val)/ chdCurrencyRate).toFixed(3);
                }
            },
            sgd: {
                get() {
                    return Number.parseFloat(Number(this.twd)/ sgdCurrencyRate).toFixed(3);
                },
                set(val) {
                    this.twd = Number.parseFloat(Number(val). sgdCurrencyRate).toFixed(3);
                }
            }
        }
    }).mount("#app");

</script>
</html>